/* Hero Section Styling */
.hero {
  position: relative;
  height: 100vh;
  background: url("../../public/background-image.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
  /* max-width: 600px; */
}
.box {
  background: #262626;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  border-radius: 4px;
}
.registerTitle {
  text-decoration: underline;
  font-size: 2.6rem;
  padding-top: 10px;
  padding-bottom: 40px;
  color: #bbb6b6;
}
.inputText {
  padding-bottom: 10px;
  color: #bbb6b6;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputs {
  font-family: inherit;
  width: 60vh;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .inputs {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.buttons {
  width: 60vh;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e05500;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #c54d03;
}

.link {
  color: #4765ff;
}

.link:visited {
  color: #4765ff;
}
