/* src/app/globals.css */

/* Definição de variáveis globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff6600; /* Cor para botões e destaque */
  --secondary-color: #ffffff; /* Cor para textos e botões secundários */
  --background-image: url("https://source.unsplash.com/1920x1080/?mountains"); /* Imagem de fundo */
}

/* Outras estilizações globais podem ser colocadas aqui */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  /*background-color: #b8c7cc;*/
  /*background-color: #cbcfd9;*/
  /* background-color: #f8fafc; */
  background-color: #f3f6f8;
}
